<% include ./partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Sign Up</h1>
        </div>
        <div class="form-primary">
            <form action="/register" method="POST">
                <div class="form-group input-group">
                    <input 
                        class="form-control fas fa-user" 
                        type="text" 
                        name="username" 
                        placeholder="&#xf007; Create Username" 
                        required
                    />
                </div>
                <div class="form-group input-group">
                    <input 
                        class="form-control fas fa-lock" 
                        type="password" 
                        name="password" 
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        placeholder="&#xf023; Create Password"
                        required
                    />
                    <small class="form-text text-muted">Password must contain at least one number, one uppercase letter, one lowercase letter, and 8 or more characters</small>
                </div>
                <input type="checkbox" name="admin-option">
                <label for="admin-option">Sign up with admin privileges</label>
                <div class="form-group reveal-if-active input-group">
                    <input 
                        class="form-control fas fa-key" 
                        type="password" 
                        name="adminCode" 
                        placeholder="&#xf084; Enter Admin Code"
                    /> 
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/campgrounds">Back</a>
        </div>
    </div>
</div>
<% include ./partials/footer %> 