<% include ../partials/header %>
<div class="container">    
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Create a New Campground</h1>
        </div>
        <div class="form-primary">
            <form action="/campgrounds" method="POST">
                <div class="form-group input-group">
                    <label class="has-float-label">
                        <input class="form-control campground-form-input" type="text" name="name" required>
                        <span>Name</span> 
                    </label>    
                </div>
                <div class="form-group input-group">
                    <label class="has-float-label">
                        <input class="form-control campground-form-input" type="number" name="price" min="0.00" max="20.00" step="1.00" required> 
                        <span>Price Per Night</span>
                        <small class="form-text"><strong>Note:</strong> Price must be between 0 (i.e., free) and 20</small> 
                    </label>    
                </div>
                <div class="form-group input-group">
                    <label class="has-float-label">
                        <input class="form-control campground-form-input" type="url" name="image" pattern="^https:\/\/images\.unsplash\.com\/.*" required>
                        <span>Image URL</span>
                        <small class="form-text"><strong>Note:</strong> Only images from <a href="https://unsplash.com/" target="_blank">Unsplash.com</a> are accepted</small>
                    </label>
                </div>
                <div class="form-group input-group">
                    <label class="has-float-label">
                        <input class="form-control campground-form-input" type="text" name="description">
                        <span>Description</span>
                    </label>
                </div>
                <div class="form-group input-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/campgrounds">Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>