<% include ../partials/header %>
<div class="container">    
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Create a New Campground</h1>
        </div>
        <div class="form-primary">
            <form action="/campgrounds" method="POST">
                <div class="form-group input-group">
                    <label class="has-float-label">
                        <input class="form-control" type="text" name="name">
                        <span>Name</span> 
                    </label>    
                </div>
                <div class="form-group input-group">
                    <label class="has-float-label">
                        <input class="form-control" type="url" name="image" pattern=".*images.unsplash.com.*">
                        <span>Image URL</span>
                    </label>
                </div>
                <div class="form-group input-group">
                    <label class="has-float-label">
                        <input class="form-control" type="text" name="description">
                        <span>Description</span>
                    </label>
                </div>
                <div class="form-group input-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/campgrounds">Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>