#show-page-image {
    padding: 0;
}

.delete-form {
    display: inline;
}

.checked {
    color: orange;
}

#login-btn,
#navbar-username-display {
    margin-right: 5px;
}

.form-primary {
    width: 30%; 
    margin: 25px auto;
}

.review-index-header {
    margin-bottom: 25px;
}

.review-text {
    text-align: justify;
    word-wrap: break-word;
}

.comment-well-new { 
    border-left: 5px solid #00c851; 
    padding: 10px;
}

.comment-well-edit {
    border-left: 5px solid #ffbb33; 
    margin-top: 15px; 
    padding: 10px;
}

.comment-well-submit-btn {
    margin-bottom: 0;
}

.fa-exclamation-triangle {
    color: red;
}